body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/***Inicio***/

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

header .nav-menu {
    list-style: none;
    display: flex;
}

header .nav-menu.left {
    margin-right: auto;  /* Empuja todo lo demás a la derecha */
}

header .nav-menu.right {
    margin-left: auto;  /* Empuja todo lo demás a la izquierda */
}

header .nav-menu li {
    padding: 0 10px;
}

header .nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .nav-logo img {
    height: 50px;
}
/***Producto***/
.category-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.category-nav li {
    padding: 10px;
}

.category-nav a {
    text-decoration: none;
    color: #01151e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #01151e;
    color: white;
}
/****/
.category-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Ajusta según la cantidad de espacio que desees entre los elementos */
}

.category-nav li {
    flex: 1; /* Distribuye el espacio uniformemente */
}

.product-card {
    text-align: center; /* Centra el texto y la imagen en la tarjeta */
    padding: 10px;
    border: 1px solid #ccc; /* Un borde sutil */
    margin: 5px; /* Espacio alrededor de cada tarjeta */
}

.product-card {
    width: 300px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease; /* Suaviza la transición al hacer zoom */
}

.product-card:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
}


.product-info h4 {
    font-size: 18px;
    margin-top: 10px;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.color-selector {
    margin: 10px 0;
}

.color-dot {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #000;
}
.view-product-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}


.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
  
    animation: cambio 20s infinite alternate linear;
  }
  
  .slider li {
    width: 100%;
    list-style: none;
  }
  
  .slider img {
    width: 100%;
  }
  
  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  
