<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa de Hombre</title>
    <link rel="stylesheet" href="{% 'static/css/style.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <img src="../static/imagenes/logo.webp" alt="Logo de la Tienda">
            </div>
            <ul class="nav-menu left">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="../shoppingStore/pagina/consultarInventario.html">Inventario</a></li>
            </ul>                
            <ul class="nav-menu right">
                <div class="profile-edit">
                    <i class="fa-regular fa-user"></i> <a href="#">Editar perfil</a>
                </div>
            </ul>
        </nav>        
    </header>

    <div class="slider">
        <ul>
          <li>
            <img src="../static/imagenes/Image1.webp" alt="">
          </li>
          <li>
            <img src="../static/imagenes/Image2.webp" alt="">
          </li>
          <li>
            <img src="../static/imagenes/Image3.webp" alt="">
          </li>          
        </ul>
      </div>      
    <nav class="category-nav">
        <ul>
            <li>
                <div class="product-card">
                    <img src="../static/imagenes/camisa.webp" alt="Camisa">
                    <div class="product-info">
                        <h4>Camisa Barocco de jacquard</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <button class="view-product-btn">Ver Producto</button>
                </div> 
                <div class="product-card">
                    <img src="../static/imagenes/camisa.webp" alt="Camisa">
                    <div class="product-info">
                        <h4>Camisa Barocco de jacquard</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <button class="view-product-btn">Ver Producto</button>
                </div>                            
                
            </li>
            <li>
                <div class="product-card">
                    <img src="../static/imagenes/Pantalon/Img1.webp" alt="pantalones">
                    <div class="product-info">
                        <h4>Pantalones formales de jacquard Barocco</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <a href="pagina/realizarCompra.html"><button class="view-product-btn">Ver Producto</button></a>
                </div>
                <div class="product-card">
                    <img src="imagenes/Pantalon/Img1.webp" alt="pantalones">
                    <div class="product-info">
                        <h4>Pantalones formales de jacquard Barocco</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <a href="pagina/realizarCompra.html"><button class="view-product-btn">Ver Producto</button></a>
                </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-card">
                    <img src="imagenes/cinturon.webp" alt="accesorios">
                    <div class="product-info">
                        <h4>Cinturón de piel efecto cocodrilo</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <button class="view-product-btn">Ver Producto</button>
                </div>
                <div class="product-card">
                    <img src="imagenes/cinturon.webp" alt="accesorios">
                    <div class="product-info">
                        <h4>Cinturón de piel efecto cocodrilo</h4>
                        <p class="price">COP 4,172,900</p>
                        <div class="color-selector">
                            <span class="color-dot" style="background-color: #000;"></span> 
                            <span class="color-dot" style="background-color: #777;"></span> 
                            <span class="color-dot" style="background-color: #fff;"></span> 
                        </div>
                    </div>
                    <button class="view-product-btn">Ver Producto</button>
                </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>     

    <footer>
        © 2024 Tienda de Ropa de Hombre
    </footer>

    <script src="script.js"></script>
</body>
</html>
