<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realizar Compra - Kraken Store</title>
        <link rel="stylesheet" href="../css/compra.css">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="nav-logo">
                    <img src="../imagenes/logo.webp" alt="Logo de la Tienda">
                </div>
                <ul class="nav-menu left">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>                    
                    <li><a href="#">Contacto</a></li>
                <li><a href="../shoppingStore/pagina/consultarInventario.html">Inventario</a></li>

                </ul>
                <ul class="nav-menu right">
                    <div class="profile-edit">
                        <i class="fa-regular fa-user"></i> <a href>Editar
                            perfil</a>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="product-container">
            <!-- Galería de imágenes -->
            <div class="product-images">
                <img src="../imagenes/Pantalon/Img1.webp"
                    alt="Vista frontal del pantalón">                
                <img src="../imagenes/Pantalon/Img2.webp"
                    alt="Vista trasera del pantalón">
                <img src="../imagenes/Pantalon/Img3.webp"
                    alt="Vista trasera del pantalón">
                
                <!-- Más imágenes según sea necesario -->
            </div>

            <!-- Información del producto -->
            <div class="product-details">
                <h1>Pantalones Formales de Jacquard Barocco</h1>
                <p class="price">COP 4,172,900</p>                
                <div class="size-selector">
                    <span>SELECCIONAR TALLA:</span>
                    <a href="#" class="size-guide">Guía de tallas</a>
                    <div class="sizes">
                        <button>28</button>
                        <button>30</button>
                        <button>32</button>
                        <button>34</button>
                        <button>36</button>
                    </div>
                </div>
                <button class="btn btn-primary">Añadir al Carrito</button>
                <a href="../pagina/resumenpedido.html"><button
                        class="btn btn-secondary">COMPRAR</button></a>

                <!-- Acordeones para detalles -->
                <div class="accordion">
                    <h3>DETALLES</h3>
                    <div class="content">
                        <p>Estos pantalones formales de lana presentan un diseño
                            de jacquard Barocco en el mismo tono. Este modelo
                            ajustado se puede combinar con un blazer de traje a
                            juego.<br>
                            Patrón barroco<br>
                            Trabillas<br>
                            Bolsillos laterales<br>
                            Bolsillos traseros ribeteados<br>
                            Composición exterior: 100 % lana virgen pura<br>
                            Forro 1: 100 % cupro<br>
                            Forro 2: 100 % algodón</p>
                    </div>
                    <h3>CUIDADO</h3>
                    <div class="content">
                        <p>Lee atentamente la etiqueta del producto del interior
                            de la prenda para obtener información acerca de su
                            cuidado y limpieza. Si tienes alguna duda o
                            pregunta, visita nuestra página de guía de cuidados
                            o déjalo en manos de un servicio de limpieza
                            especializado.</p>
                    </div>
                    <h3>TALLA Y CORTE</h3>
                    <div class="content">
                        <p>La modelo mide 1,88 m y lleva la talla 48 IT</p>
                    </div>
                    <h3>ENVIO Y DEVOLUCIONES</h3>
                    <div class="content">
                        <p>Envío Urgente Gratuito<br>
                            -El envío será diferente dependiendo del país de
                            destino. Para obtener más información, consulte la
                            sección de Envío y Entrega.<br>
                            Devoluciones<br>
                            -Los costos de devolución pueden variar dependiendo
                            del destino. Para obtener más información, consulte
                            nuestra Política de Devolución.</p>
                    </div>
                    <!-- Más secciones según sea necesario -->
                </div>
            </div>
        </div>

        <footer>
            <p>© 2024 Kraken Store - Todos los derechos reservados.</p>
        </footer>
        <script src="../js/compra.js"></script>
    </body>
</html>
